@model IEnumerable<RateTheRoast.Models.State>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StateName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a href=@($"http://localhost:5000/Roasters/State/{item.StateAbbrev}")>@Html.DisplayFor(modelItem => item.StateName) </a>
                @*asp-route-id="@item.StateAbbrev">*@

                @*@Html.DisplayFor(modelItem => item.StateName)*@
            </td>
        </tr>
}
    </tbody>
</table>
