@model IEnumerable<RateTheRoast.Models.State>

@{
    ViewData["Title"] = "State";
}

<h3>Select a state to view roasters</h3>

@foreach (var item in Model)
{

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a href=@($"http://localhost:5000/Roasters/State/{item.StateAbbrev}") class="text-secondary">@Html.DisplayFor(modelItem => item.StateName) </a>
                @*asp-route-id="@item.StateAbbrev">*@

                @*@Html.DisplayFor(modelItem => item.StateName)*@
            </div>
        </div>
    </div>

}
