@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Rate the Roast</h1>
        <p class="lead">Sip it. Rate it. Remember it.</p>
        <form asp-action="Index" asp-controller="Coffees" method="get">
            <div class="form-actions no-color">
                <p>
                    Search Roasts: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                    <input type="submit" value="Search" class="btn btn-default" />
                </p>
            </div>
        </form>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
