@model RateTheRoast.Models.ViewModels.CoffeeViewModel

@{
    ViewData["Title"] = "Add";
}

<h2>Add your review</h2>
<h3>for @Model.Coffee.Name</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Review.CoffeeId" value="@Model.Coffee.CoffeeId" />
            <div class="form-group">
                <label asp-for="Review.BrewMethodId" class="control-label">Brew method</label>
                <select asp-for="Review.BrewMethodId" class="form-control" asp-items="ViewBag.BrewMethodId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Review.Price" class="control-label">Purchase price</label>
                <input asp-for="Review.Price" class="form-control" />
                <span asp-validation-for="Review.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.PurchaseAddress" class="control-label">Purchased at</label>
                <input asp-for="Review.PurchaseAddress" class="form-control" />
                <span asp-validation-for="Review.PurchaseAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.PurchaseCity" class="control-label">Purchase city</label>
                <input asp-for="Review.PurchaseCity" class="form-control" />
                <span asp-validation-for="Review.PurchaseCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.StateAbbrev" class="control-label"></label>
                <select asp-for="Review.StateAbbrev" class="form-control" asp-items="ViewBag.StateAbbrev"></select>
            </div>
            <div class="form-group">
                <label asp-for="Review.Narrative" class="control-label">Review</label>
                <textarea input asp-for="Review.Narrative" class="form-control" /></textarea>
                <span asp-validation-for="Review.Narrative" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.Score" class="control-label"></label>
                <input asp-for="Review.Score" class="form-control" />
                <span asp-validation-for="Review.Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
